<h1> Editar post </h1>

<%= render partial: "form", locals: {blog_post: @blog_post} %>

<%= button_to "Deletar", @blog_post, method: :delete, data: {turbo_confirm: "Deseja deletar a postagem?"} %>